body {
  background: #1D4350;
}

table {
  width: 100%;
  margin: 0 auto;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  clear: right;
}

h2 {
  color: indigo;
}

.addBook,
.logout {
  float: right;
  margin: 10px;
}

.dashboard {
  color: indigo;
  display: inline-block;
  margin: 10px;
}

.header {
  display: inline;
}

.tableTitle {
  color: indigo;
  text-align: center;
  background: #fff;
  margin-bottom: 0px;
  padding: 10px;
}

.boxes {
  border-radius: 10px;
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.2) !important;
  margin: 0 10px 25px 0;
  height: calc(100% - 145px);
  background: #fff;
}

.boxes:hover {
  box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.3) !important;
  cursor: pointer;
  transform: translatey(-4px);
  transition: 0.3s ease-in-out;
}

.cards {
  padding: 0;
}
